body {
    background-image: url("../assets/background.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: none;
    opacity: 0.8;
}

.App {
    text-align: center;
    padding: 5%;
}

.right-button {
    cursor: pointer;
    float: right;
}

.list-group {
    list-style-type: none;
    border: 1px solid #030303;
    padding: 10px 15px;
}

.list-group-item {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #4848;

}

.list-group-item:hover {
    background-color: rgba(111, 122, 111, 0.533);
}

.list-item {
    display: inline-block
}

.columns {
    display: flex;
    justify-content: center;

}

.column {
    padding: 10px;
    text-align: center;
    margin: 2px 2px;
    background-color: rgba(104, 22, 22, 0.6);
    width: 100%;
}